.oder-wraper{
    width: 95%;
    margin: auto;
    margin-top: 150px;
}
.checkout-container{
    display: flex;
}
.checkoutproducts-wraper{
    width: 50%;
}
.oder-product-container{
    margin-top: 70px;

}
.oder-product-container div div div{
    color: rgb(223, 116, 16);
}
.oder-product-container div div .name{
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
}
.oder-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(247, 247, 247);
    margin-bottom: 5px;
}
.oder-product-img{
    width: 20%;
    height: 100%;
}
.oder-product-details{
 flex: 1;
 margin-left: 20px;
}
.oder-product-name{
}
.oder-product-price{
   
}
.oder-product-qty{
}
.oder-product-total{
    margin-right: 5px;
}

.total-cost{
    text-align: right;
    color: brown;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}
.oder-btn-online{
    margin-top: 5px;
    text-transform: uppercase;
    background-color: gray;
}
.oder-btn-cod{
    text-transform: uppercase;
}
.oder-btn-online:hover{
    font-weight: 900;
    background-color: black;
}
.checkoutSuccess-contaienr{
    margin-top: 150px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: white;
}
.checkoutSuccess-contaienr p{
    background-color: rgb(205, 248, 216);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    color: green;
}