.navbar{
  background-color: #5CB85C;
  font-family: 'Times New Roman', Times, serif;
}


.userDropdown {
  display: none;
  z-index: 22;
}

.userDropdownBtn:hover .userDropdown {
  display: block;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}
.my-div {
  transition: transform 0.3s ease;
} 

.my-div.hidden {
  transform: translateY(-100%);
}
.containerMenu{
  border-top: 1px solid white;
  background-color: white;
  color:  black;
  justify-content: center;
}
.menu{
  transition: all 0.5s;
  cursor: pointer;
  display:  flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu:hover{
  background-color: #5CB85C;
}
.list{
  background-color: #5CB85C;
  margin-left: -20px;
  padding: 15px;
  
}
.ant-dropdown-menu{
 border-radius:0;
}
.ant-dropdown-menu-item{
 height: 70px;
}
.ant-dropdown-menu-title-content{
  font-size: 10px;
}
.ant-dropdown-menu-title-content:hover{
  color: #0A923C;
}
/*dropdown*/
.dropdown {
  position: relative;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #5CB85C;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 22;
  top: 100%;
  left: 0;
  transform: translateY(20px); /* Đẩy dropdown menu xuống 20px */
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease; /* Hiệu ứng transition */
}
.list>.dropdown-content{
  background-color: #f2f2f2;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  width: 120%;
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Đặt dropdown menu trở lại vị trí ban đầu */
}

.menu.list:hover {
  background-color: #5CB85C;
  cursor: pointer;
}

.menu.list:hover {
  background-color: #5CB85C; /* Màu nền mới khi hover vào li */
  cursor: pointer;
}
.dropdown-content a:hover {
  background-color: #f2f2f2; /* Màu nền xám nhạt khi hover vào */
  color: #5CB85C; /* Màu chữ xanh khi hover vào */
}


/* footer */
.footer-container{
  margin-top: 40px;
}
.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #e6ece9;
  color: #788a7f;
}
.footer-top{
  height: 60px;
  width: 100%;
  background-color: #0A923C;
}
.title-footer{
  color: black;
}
.footer-address li{
  margin-top: 40px;
}
.footer-account ul li{
  margin-top: 20px;
}



/* btn log out */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}


/* cart */

.plus-qty{
  color: white;
  background-color: rgb(114, 111, 111);
  cursor: pointer;
}
.plus-qty svg{
  margin:  0 5px;
}
.number-qty{
  font-size: 1rem;
  font-weight: 600;
}