

.login-container{
    width: 70%;
    position: absolute;
    display: flex;
    margin-left: 260px;
}

.banner-login{
    position: relative;
    width: 30%;
    background-color: white;   
}
.banner-login img{
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.close-modal{
    background-color: aliceblue;
    border-radius: 50%;
    top: 10px;
}