#components-tooltip-demo-placement .ant-Btn-edit {
    margin-left: 0;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 70px;
    text-align: center;
    padding: 0;
  }
  .table-container{
    border-bottom: 1px solid rgb(201, 201, 201);
    font-size: 0.8rem;
    text-align: start;
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
  }
.title-table{
  
  border-bottom: 1px solid rgb(226, 219, 219);
  background-color: #FAFAFA;
  margin: 10px 10px;
}
.title-table-detail{
  text-align: start;
  height: 70%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: 1p solid black;
}
.title-table-container{

}

  /* search */
  .seacrh-product{
    width: 100%;
    height: 50px;
    background-color: red;
    position: relative;
  }
  .input-search-product{
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid rgb(207, 202, 202);
    outline: none;
  }
  .search-icon-product{
    right: 3%;
    top: 30%;
    position: absolute;
  }
  .item-product-container{
    position: relative;
  }
  .page-number{
    bottom: -40px;
    right: 43%;
    font-size: 1rem;

  }


