.sidebar-container{
    width: 17%;
    color: rgb(82, 79, 79);
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}
.sidebar-container div{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}
.sidebar-container div span{
    margin-right: 20px;
}