.sidebar-container{
    width: 15%;
    background-color: rgb(255, 255, 255);
    color: rgb(71, 68, 68);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidebar-container div span{
    margin-right: 20px;
}